body {
    background-color: #f8b858;
}

h1 {
    text-align: center;
    color: #e98d04;
}

h2 {
    color: #e98d04;
    margin-bottom: 10px;
}

p {
    color: antiquewhite;
    font-size: 24px;
}

ul>li {
    list-style-type: square;
    padding: 5px 0 0 5px;
    font-size: 24px;
    color: antiquewhite
}

ol>li {
    color: antiquewhite;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e98d04;
}