body {
  background-color: #f8b858;
}

h1 {
  text-align: center;
  color: #e98d04;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #e98d04;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}

p {
  color: antiquewhite;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

ul > li {
  list-style-type: square;
  padding: 5px 0 0 5px;
  font-size: 24px;
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
}

ol > li {
  color: antiquewhite;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: #e98d04;
  font-family: "Courier New", Courier, monospace;
}
